# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\defaultuser0.DESKTOP-0LMVO4V\Desktop\wyuchen\code\web-code\bpic-insure-dev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
