<div class="info-process">
        <div class="info-bar step-1 step-active">
            <p>
                <span></span>
            </p>
            <p>基础信息</p>
        </div>
        <div class="info-bar step-2 step-active">
            <p>
                <span></span>
            </p>
            <p>告知事项</p>
        </div>
        <div class="info-bar step-3 step-active">
            <p>
                <span></span>
            </p>
            <p>证件影像</p>
        </div>
        <div class="info-bar step-4">
            <p>
                <span></span>
            </p>
            <p>签约资料</p>
        </div>
    </div>
<div class="card-content">
        <div class="user-card">
            <div class="card-item">
                <p>白底免冠证件照</p>
                <div class="card-on must-up">
                    <i class="iconfont icon-untitled44 add"></i>
                    <p>白底免冠证件照</p>
                    <img src="" hidden>
                    <input type="file" class="fileImg" name="" card-type="49">
                </div>
            </div>
        </div>
        <div class="card-box">
        	<div class="up-card">
	            <div class="card-item">
	                <p>身份证件</p>
	                <div class="card-on must-up">
	                    <i class="iconfont icon-untitled44 add"></i>
	                    <p class="up_tip">正面</p>
	                    <img src="" hidden>
	                    <input type="file" class="fileImg" name="" card-type="1">
	                </div>
	            </div>
            </div>
            <div class="back-card">
	            <div class="card-item">
	                <p></p>
	                <div class="card-on must-up">
	                    <i class="iconfont icon-untitled44 add"></i>
	                    <p>背面</p>
	                    <img src="" hidden>
	                    <input type="file" class="fileImg" name="" card-type="2">
	                </div>
	            </div>
            </div>
        </div>
            <!--<div class="card-item">
                <p>证件照</p>
                <div class="card-on">
                    <i class="iconfont icon-untitled44 add"></i>
                    <p>正面</p>
                    <img src="" hidden>
                    <input type="file" class="fileImg" name="" value="">
                </div>
            </div>-->
          <div class="school-card">
            <div class="card-item">
                <p>学历证书</p>
                <div class="card-on must-up">
                    <i class="iconfont icon-untitled44 add"></i>
                    <!--<p>学历</p>-->
                    <img src="" hidden>
                    <input type="file" class="fileImg" name="" card-type="4">
                </div>
            </div>
		</div>
        <div class="bank-card">
            <div class="card-item">
                <p>储蓄卡</p>
                <div class="card-on must-up" card-type="bank">
                    <i class="iconfont icon-untitled44 add"></i>
                    <!--<p>学历</p>-->
                    <img src="" hidden>
                    <input type="file" class="fileImg" name="" card-type="42">
                </div>
            </div>
        </div>
        <div class="honver-card">
            <input type="checkbox" id="check-honver" style="display: none" >
            <label for="check-honver" class="init-check"></label>
            <label for="check-honver" class="check-text" style="font-size: 14px;color: #333333;">本年度MDRT荣誉证书</label>
        </div>
        <div  class="card-honver card-mdrt-hidden">
       <div class="ry-card">
        <div class="card-item">
            <p>MDRT荣誉资格</p>
            <div class="card-on">
                <i class="iconfont icon-untitled44 add"></i>
                <img src="" hidden>
                <input type="file" class="fileImg" name="" card-type="43">
            </div>
            <p style="color: #666;font-size: 12px;margin-top: 10px;margin-left: 5px">请上传本年度荣誉证书</p>
        </div>
        </div>
</div>
<div class="click-button">
    <a class="prev-page">上一步</a>
    <a class="next-page">下一步</a>
</div>