<div>
    <div class="head clearfix">
        <div class="left">
            <div class="portrait">
                <img src="../../images/b3f3a495b83df9a79b2cb95c6408d99.jpg">
                <i class="iconfont"></i>
            </div>
            <div class="rank">
                <p></p>
                <p></p>
                <p>推荐人：<span></span></p>
            </div>
        </div>
        <div class="right">
              <i class="iconfont icon-character-success"></i>
            <span></span>
            <span class="postType"></span>
        </div>
    </div>
    <div class="personnel-file content">
        <div class="content-details clearfix">
            <div class="content-details-left fl">
                <p class="we-chat"><i class="iconfont icon-wechat"></i><span></span></p>
                <p class="phone"><i class="iconfont icon-phone"></i><span></span></p>
                
                <!-- <p>
                    <i class="iconfont icon-tengxunqq"></i>
                    <span class="tencent"></span>
                </p>
                <p>
                    <i class="iconfont icon-wechat"></i>
                    <span class="mail"></span>
                </p> -->
            </div>
            <div class="content-details-right fr">
                <!--<i class="iconfont icon-profile"></i>-->
            </div>
            
        </div>
        <div class="content-work"><p>同业经历：</p><span></span></div>
        <div class="arrow" style="transform: rotate(180deg);">
            <i class="iconfont  icon-jiantouarrow483 ">

            </i>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll-box">
                <div class="info-item">
                    <div class="info-item-title">
                        <p>证件影像</p>
                    </div>
                    <div class="info-item-content video-wrapper">
                        <div class="video-item">
                            <div class="video-item-title">
                                <p>免冠照</p>
                            </div>
                            <div class="video-item-content user-card">
                                <div class="photo-item">
                                    <img src="../../images/ID_z.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-item-title">
                                <p>证件</p>
                            </div>
                            <div class="video-item-content">
                                <div class="photo-item up-card">
                                    <img src="../../images/ID_z.png" alt="">
                                </div>
                                <div class="photo-item back-card">
                                    <img src='../../images/ID_f.png' alt="">
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-item-title">
                                <p>学历证</p>
                            </div>
                            <div class="video-item-content school-card">
                                <div class="photo-item">
                                    <img src="../../images/ID_z.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="video-item">
                            <div class="video-item-title">
                                <p>银行卡</p>
                            </div>
                            <div class="video-item-content">
                                <div class="photo-item bank-card">
                                    <img src="../../images/ID_z.png" alt="" type="bank">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="info-item">-->
                <!--<div class="info-item-title">-->
                <!--<p>签约资料</p>-->
                <!--</div>-->
                <!--<div class="info-item-content file-wrapper">-->
                <!--<div class="file-item">-->
                <!--<p class="file-item-desc">保险从业人员自觉抵制非法集资活动承诺书</p>-->
                <!--</div>-->
                <!--<div class="file-item">-->
                <!--<p class="file-item-desc">保险从业人员自觉抵制非法集资活动承诺书</p>-->
                <!--</div>-->
                <!--<div class="file-item">-->
                <!--<p class="file-item-desc">保险从业人员自觉抵制非法集资活动承诺书</p>-->
                <!--</div>-->
                <!--<div class="file-item">-->
                <!--<p class="file-item-desc">保险从业人员自觉抵制非法集资活动承诺书</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

    </div>
    <div class="sign-datum">
        <div class="sign-item" pdf-name="144">
            <p>保险从业人员自觉抵制非法集资活动承诺书</p>
            <div class="checkbox">
                <input type="checkbox" id="check1" style="display: none" checked disabled>
                <label for="check1"></label>
            </div>
        </div>
        <div class="sign-item" pdf-name="145">
            <p>保险经纪从业人员职业道德指引</p>
            <!--<i class="sign-satus"></i>-->
            <div class="checkbox">
                <input type="checkbox" id="check2" style="display: none" checked disabled>
                <label for="check2"></label>
            </div>
        </div>
        <div class="sign-item" pdf-name="146">
            <p>保险从业人员自觉抵制非法集资活动承诺书</p>
            <div class="checkbox">
                <input type="checkbox" id="check3" style="display: none" checked disabled>
                <label for="check3"></label>
            </div>
        </div>
        <div class="sign-item" pdf-name="147">
            <p>经纪人服务协议</p>
            <!--<i class="iconfont icon-weibiaoti1"></i>-->
            <div class="checkbox">
                <input type="checkbox" id="check1" style="display: none" checked disabled>
                <label for="check1"></label>
            </div>
        </div>
    </div>
    <div class="bank-sign">
        银行卡资料补录
    </div>
</div>
<div class="look-big">
  <div class="close-big"></div>
    <img src="../../images/jt-pic.jpg"/>
</div>