<div>
        <div class="info-process">
                <div class="info-bar step-1 step-active">
                    <p>
                        <span></span>
                    </p>
                    <p>基础信息</p>
                </div>
                <div class="info-bar step-2 step-active">
                    <p>
                        <span></span>
                    </p>
                    <p>告知事项</p>
                </div>
                <div class="info-bar step-3 step-active">
                    <p>
                        <span></span>
                    </p>
                    <p>证件影像</p>
                </div>
                <div class="info-bar step-4 step-active">
                    <p>
                        <span></span>
                    </p>
                    <p>签约资料</p>
                </div>
            </div>
    <div class="sign-datum">
        <div class="sign-item signed" data-type="44">
            <p>保险从业人员自觉抵制非法集资活动承诺书</p>
            <i class="iconfont icon-weibiaoti1"></i>
            <div class="checkbox" >
                <input type="checkbox" checked id="check1" style="display: none" disabled>
                <label for="check1"></label>
            </div>
        </div>
        <div class="sign-item" data-type="45">
            <p>保险经纪从业人员职业道德指引</p>
            <i class="iconfont icon-weibiaoti1"></i>
            <div class="checkbox" >
                <input type="checkbox" checked id="check2" style="display: none" disabled>
                <label for="check2"></label>
            </div>
        </div>
        <div class="sign-item" data-type="46">
            <p>人身保险销售从业人员诚信展业承诺书</p>
            <i class="iconfont icon-weibiaoti1"></i>
            <div class="checkbox" >
                <input type="checkbox" checked id="check3" style="display: none" disabled>
                <label for="check3"></label>
            </div>
        </div>
        <div class="sign-item" data-type="47">
            <p>经纪人服务协议</p>
            <i class="iconfont icon-weibiaoti1"></i>
            <div class="checkbox">
                <input type="checkbox" checked id="check3" style="display: none" disabled>
                <label for="check3"></label>
            </div>
        </div>
    </div>
    <div class="click-button">
        <a class="prev-page">上一步</a>
        <a class="sign-submit">提交</a>
    </div>
</div>