<div class="word word-44" file-type="44">
    <p class="title">保险从业人员自觉抵制非法集资活动承诺书</p>
    <p>本人<strong class="personnelName"></strong>系上海复深蓝软件股份有限公司经纪人，本人严格遵守国家有关法律、法规，自觉抵制非法集资活动，维护他人利益及公司声誉。现本人做出如下承诺：</p>
    <p>一、不组织、不实施、不参与任何形式的非法集资活动；</p>
    <p>二、严格遵守《中国保监会关于严格规范非保险金融产品销售的通知（保监发〔2014〕90号）》要求，不违规销售非保险金融产品；</p>
    <p>三、不借保险公司名义或利用保险从业人员身份私自代人投资理财；</p>
    <p>四、不挪用客户资金为他人或第三方理财机构提供资金；</p>
    <p>五、不参与保险中介机构推介的第三方理财产品销售；</p>
    <p>六、不自办或参与经营担保公司、小额贷款公司、投资公司等第三方理财机构；</p>
    <p>七、不参与以民间借贷形式进行的非法集资活动；</p>
    <p>八、发现周边人员组织、实施、参与涉嫌非法集资活动情况的，及时主动报告。</p>
    <p>本人自觉接受公司及社会的监督，共同抵制并防范非法集资活动，如违反以上承诺，本人自愿承担相应的法律责任和经济责任，并接受公司处理。</p>
    <p>如本人确认已阅读并理解以上内容，请在以下签字框签字。</p>
</div>
<!--保险从业人员自觉抵制非法集资活动承诺书_end-->

<div class="word word-45" file-type="45">
    <p class="title">保险经纪从业人员执业道德指引（保监发【2004】143号）</p>
    <p>为保护投保人和被保险人的利益，提高保险经纪从业人员的职业道德水准，促进保险业的健康发展，制定本指引。</p>
    <p>本指引所称保险经纪从业人员是指从事保险经纪业务的保险经纪机构工作人员。</p>
    <p>保险经纪从业人员在执业活动中应当做到：守法遵规、诚实信用、专业胜任、勤勉尽责、友好合作、公平竞争、保守秘密。</p>
    <p>(一)守法遵规</p>
    <p class="sub">1.以《中华人民共和国保险法》为欣慰准绳，遵守有关法律和行政法规，遵守社会公德。</p>
    <p class="sub">2.遵守保险监管部门的相关规章和规范性文件，服从保险监管部门的监督与管理。</p>
    <p class="sub">3.遵守保险行业自律组织的规则。</p>
    <p class="sub">4.遵守所属保险经纪机构的管理规定。</p>
    <p>(二)诚实信用</p>
    <p class="sub">1.在执业活动的各个方面和各个环节中恪守诚实信用原则。</p>
    <p class="sub">2.在执业活动中主动出示法定执业证件并将本人或所属保险经纪机构与保险公司的关系如实告知客户。</p>
    <p class="sub">3.客观、全名地向客户介绍有关保险产品与服务的信息；如实向保险公司披露与投保有关的客户信息。</p>
    <p>(三)专业胜任</p>
    <p class="sub">1.执业前取得法定资格并具备足够的专业知识和能力。</p>
    <p class="sub">2.在执业活动中加强业务学习，不断提高业务技能。</p>
    <p class="sub">3.参加保险监管部门、保险行业自律组织和所属保险经纪机构组织的考试和持续教育，使自身能够不断适应保险市场的发展。</p>
    <p>(四)勤勉尽责</p>
    <p class="sub">1.秉持勤勉的工作态度，努力避免执业活动中的失误。</p>
    <p class="sub">2.代表客户利益，对于客户的各项委托尽职尽责，确保客户的利益得到最好保障，且不因手续费（佣金）或服务费的高低而影响客户利益。</p>
    <p class="sub">3.忠诚服务，不侵害所属保险经纪机构利益；切实履行对所属保险经纪机构的责任和义务，接受所属保险经纪机构的管理。</p>
    <p class="sub">4.不擅自超越客户的委托范围或所属保险经纪机构的授权。</p>
    <p class="sub">5.在执业活动中主动避免利益冲突。不能避免时，应向客户或所属保险经纪机构作出说明，并确保客户和所属保险经纪机构的利益不受损害。</p>
    <p>(五)友好合作</p>
    <p class="sub">1.与保险公司、保险代理机构和保险公估机构的从业人员友好合作、共同发展。</p>
    <p class="sub">2.加强同业人员间的交流与合作，实现优势互补、共同进步。</p>
    <p>(六)公平竞争</p>
    <p class="sub">1.尊重竞争对手，不诋毁、贬低或负面评价保险公司、其他保险中介机构及其从业人员。</p>
    <p class="sub">2.依靠专业技能和服务质量展开竞争，竞争手段正当、合规、合法，不借助行政力量或其他非正当手段开展业务，不向客户给予或承诺给予保险合同以外的经纪利益。</p>
    <p>(七)保守秘密</p>
    <p class="sub">1.对客户和所属保险经纪机构负有保密义务。</p>
    <p>如本人确认已阅读并理解以上内容，请在以下签字框签字。</p>
</div>
<!--保险经纪从业人员执业道德指引（保监发【2004】143号）_end-->

<div class="word  word-46" file-type="46">
    <p class="title">上海人身保险销售从业人员诚信展业承诺书</p>
    <p>一、作为上海地区有关法律、法规、行业规章制度以及所属公司的管理制度，诚实守信、规范展业。</p>
    <p>二、在人身保险销售活动中，自觉杜绝以下行为：</p>
    <p class="sub">(一)欺骗投保人、被保险人恩、受益人以及保险人。</p>
    <p class="sub">(二)对投保人、保险人隐瞒与保险合同相关重要事项。</p>
    <p class="sub">(三)阻碍投保人履行如实告知义务或诱导其不履行如实告知义务。</p>
    <p class="sub">(四)给予或承诺给予投保人、被保险人、受益人保险合同约定以外的保险费回扣。</p>
    <p class="sub">(五)伪造、擅自变更保险合同，或为保险合同当事人提供虚假证明材料。</p>
    <p class="sub">(六)代替被保险人本人体检，或篡改体检结果。</p>
    <p class="sub">(七)挪用、截留、侵占保险费或保险金。</p>
    <p class="sub">(八)串通他人骗取保险金或销售佣金。</p>
    <p class="sub">(九)唆使或村淘客户恶意退保。</p>
    <p class="sub">(十)以捏造、散布虚假信息等方式诋毁同业。</p>
    <p class="sub">(十一)私自印制、发放、传播保险产品宣传材料。</p>
    <p class="sub">(十二)泄露在保险销售中知悉的保险人、投保人、被保险人的商业秘密及个人隐私。</p>
    <p class="sub">(十三)在客户明确拒绝投保后干扰客户。</p>
    <p class="sub">(十四)代替投保人签订保险合同（包括代为抄录人身保险风险提示语，代为签署投保单、保险合同回执以及其他需要由投保人或被保险人亲笔签署的文件）。</p>
    <p class="sub">(十五)恶意篡改投保人电话或住址，冒充或指使他人代投保人接受新单回访。</p>
    <p class="sub">(十六)未取得相关从业资格或分类销售资质从事保险销售。</p>
    <p class="sub">(十七)未按“上海地区人身保险销售强调语”销售保险产品。</p>
    <p class="sub">(十八)越权或假借所属机构名义私自销售非保险金融产品。</p>
    <p class="sub">(十九)违反法律、行政法规和中国保监会规定的其他行为。</p>
    <p>三、涉嫌发生以上行为，本人承诺配合保险监管部门、保险公司或保险中介机构开展相关调查。</p>
    <p>四、如存在违反第一、第二和第三条的行为，本人同意上海复深蓝软件股份有限公司登记录入行业警示信息管理系统，并供各保险公司、保险中介机构依据《上海人身保险销售从业人员警示信息管理办法》进行查询。</p>
    <p>如本人确认已阅读并理解以上内容，请在以下签字框签字。</p>
</div>
<!--上海人身保险销售从业人员诚信展业承诺书_end-->

<div class="word word-47" file-type="47">
    <p class="title">经纪人服务协议</p>
    <p>甲方 （以下简称甲方）：上海复深蓝软件股份有限公司</p>
    <p>地址：上海市 XXX XXX XXXXXXXXX</p>
    <p>邮政编码：200001</p>
    <p>电话：XXXXXXXXX</p>
    <p>乙方姓名（以下简称乙方）：<strong class="name"></strong></p>
    <p>性别：<strong class="sex"></strong></p>
    <p>曾用名：<strong class="onceName"></strong></p>
    <p>乙方证件类型： <strong class="identityType"></strong> </p>
    <p>乙方证件号码：<strong class="identityCode"></strong></p>
    <p>乙方户籍地址：<strong class="domicilePlace"></strong></p>
    <p>乙方通信地址：<strong class="contactAddress"></strong> </p>
    <p>邮政编码：<strong class="postcode"></strong></p>
    <p>电话：<strong class="telephone"></strong></p>
    <p>手机：<strong class="cellphone"></strong></p>
    <p>根据《中华人民共和国保险法》、《保险经纪机构管理规定》及有关法规，甲乙双方经平等协商，就保险销售合作事项达成一致，签订本协议（以下简称“本协议”）。如本协议内容后续因国家相关法律法规的调整更新与之发生冲突，以届时国家的法律法规相关规定为准。</p>
    <p>第一条、本协议自甲乙双方签字盖章之日起生效，有效期三年。 </p>
    <p>第二条、甲乙双方的关系为销售合作服务关系，不应在任何时候被认为在双方之间构成直接或间接的劳动关系。</p>
    <p>第三条、甲方委托乙方在本协议授权范围内为甲方开展保险销售业务。</p>
    <p>第四条、保险业务的地域范围</p>
    <p>甲方授权乙方在甲方经营区域 <strong class="province"></strong>省（自治区、直辖市）<strong class="city"></strong>市（地区、州、盟）开展保险业务</p>
    <p>第五条、保险业务服务范围</p>
    <p>（一）甲方授权乙方销售人身保险、财产保险及其它甲方有权合法销售的产品。</p>
    <p>（二）乙方进行保险业务的行为限于：</p>
    <p class="sub">1.向客户宣传、介绍、推荐甲方提供的保险产品；</p>
    <p class="sub">2.将投保人填写的投保单及相关的投保材料及时交付甲方；</p>
    <p class="sub">3.将甲方代理的保险公司签发的保险单、保险费收据等相关单证及时交付给投保人；</p>
    <p class="sub">4.接受客户咨询并提供有关保险的专业意见；</p>
    <p class="sub">5.甲方书面委托的其他事项。</p>
    <p>（三）乙方不得处理下列事项：</p>
    <p class="sub">1.签发或批改保险单和保险费收据；</p>
    <p class="sub">2.核保、核赔；</p>
    <p class="sub">3.其他未经甲方书面授权的事项。</p>
    <p>第六条、本协议有效期内，乙方在甲方授权范围内代为办理保险业务的行为，由甲方承担责任。乙方超越本协议甲方书面授权范围的行为，由乙方承担责任，且乙方应完全赔偿甲方的相应损失。若因乙方超越授权范围而需要向任何第三方承担责任时，甲方有权选择（但无义务）先行向第三方赔偿，并就此向乙方追偿。</p>
    <p>第七条、保险费的交付方式和期限</p>
    <p>（一）乙方不得使用非甲方指定账户收取保险费，不得将保险费挪作他用。</p>
    <p>第八条、服务报酬的支付标准和支付方式</p>
    <p>（一）甲方向乙方支付报酬，双方约定的服务报酬标准和相应的奖励措施参见甲方《经纪人基本管理办法》。</p>
    <p>（二）甲方按约定向乙方支付报酬，但乙方所得报酬产生的税款由乙方承担，甲方有权代扣代缴相关税款。</p>
    <p>（三）甲方根据国家有关法律、法规和行政规章以及甲方业务管理需要，可调整服务报酬标准，如乙方不能认可新的服务报酬标准，任何一方均有权书面终止本协议，且双方互不承担违约责任。</p>
    <p>（四）同时符合以下条件，乙方方可有权要求甲方支付服务报酬：</p>
    <p class="sub">1.合作保险公司已审核签发保险单；</p>
    <p class="sub">2.合作保险公司已全额收到保险费，保单回执已经客户签署、交回保险公司，且保单已过犹豫期；</p>
    <p class="sub">3.乙方未出现违反本协议约定的行为，且销售业务行为符合本协议各项约定及国家保险监管机构规定；</p>
    <p class="sub">4.保险公司已向甲方支付佣金。</p>
    <p>（五）若乙方销售业务发生退保或变更，甲方有权对该销售业务的报酬进行相应调整，要求乙方退回相应的报酬，或甲方有权从应付乙方的报酬中扣除相应的款项。</p>
    <p>第九条、甲方的权利</p>
    <p>（一）根据国家有关法律、法规和行政规章，制定业务人员管理制度，并据此对乙方与保险销售及客户服务有关的行为进行指导与培训；</p>
    <p>（二）对乙方销售的保险业务进行初步的审核，并按规定交保险公司核保、核赔。</p>
    <p>（三）乙方越权销售及违反本协议其他约定的，甲方有权解除本协议；造成甲方损失的，甲方有权向乙方索赔；</p>
    <p>（四）按税务机关规定代扣乙方应缴纳的税款；</p>
    <p>（五）了解乙方销售业务完成情况和客户详细信息。</p>
    <p>第十条、甲方的义务</p>
    <p>（一）根据本协议约定向乙方支付销售业务报酬；</p>
    <p>（二）对乙方在甲方授权范围内进行的保险业务要求保险公司承担保险责任；</p>
    <p>（三）为乙方核发或更换《保险经纪从业人员执业证书》；</p>
    <p>（四）为乙方提供从事保险销售业务所需展业证件、业务单证和甲方认为必要的宣传材料；</p>
    <p>（五）认真听取乙方提出的合理化建议；</p>
    <p>（六）为乙方提供与保险业务有关的培训。</p>
    <p>第十一条、乙方的权利</p>
    <p>（一）在授权范围内与甲方合作进行保险销售业务，并获得甲方支付的销售报酬；</p>
    <p>（二）依法解除本协议；</p>
    <p>（三）取得甲方提供的有关保险销售业务的展业证件、业务单证、宣传材料；</p>
    <p>（四）享有甲方为其提供的与保险业务有关的培训；</p>
    <p>（五）拒绝甲方的违法、违规和非书面委托事项。</p>
    <p>第十二条、乙方的义务</p>
    <p>（一）遵守国家有关法律、法规和行政规章以及甲方指定的《经纪人基本管理办法》、《经纪人业务品质管理办法》等有关规章制度，遵守职业操守，维护甲方及投保人、被保险人、受益人、保险人的合法利益，维护甲方的社会形象；</p>
    <p>（二）参加甲方组织的业务培训，不断提高专业技能；</p>
    <p>（三）向投保人全面说明保险协议内容，并按照甲方的要求就保险标的和被保险人的有关情况提出询问；对于保险协议中的责任免除条款，向投保人明确说明；履行本协议中规定的销售人员针对客户的其它义务；</p>
    <p>（四）协助甲方了解投保标的真实情况和风险状况；</p>
    <p>（五）按本协议约定向甲方交付代收的保险费；</p>
    <p>（六）保守甲方和直接客户的商业秘密及个人信息；</p>
    <p>（七）非经甲方书面授权，不为甲方以外的保险中介机构或未经甲方同意的保险公司代理保险业务；</p>
    <p>（八）按甲方要求确定展业身份称谓，不向投保人作任何与保险业务有关的虚假宣传和承诺；</p>
    <p>（九）保险协议订立后，在接到投保人要求变更、终止或者解除协议的请求后，及时通知甲方。</p>
    <p>（十）为了保障保险单证、保险费或客户资金等安全问题，若乙方推荐的经纪人[如何定义“推荐的”？][在经纪人入职基本信息中需填写推荐人并签字确认，因此项会后续涉及相关利益。]或乙方辖下的经纪人[我们理解这份协议是针对经纪人个人的。如果是针对乙方团队中的，建议放事业部经纪人协议中][此项协议是针对经纪人个体，但是按照职级的不同，其中部分经纪人身份会是团队的主管，辖下有团队需进行管理。]出现违法违规操作的，乙方应与该经纪人共同承担违法违规操作而导致的经济损失，则甲方有权就该部分经济损失从应向经纪人和/或乙方支付的任何费用或报酬中扣除，或另行向该经纪人和/或乙方索赔。</p>
    <p>第十三条、协议的变更</p>
    <p>（一）在本协议有效期内，根据国家有关法律、法规和行政规章，甲乙双方协商一致，可依法对保险销售的地域范围、险种范围、手续费标准、保证人等协议内容进行变更，并订立补充协议予以约定。</p>
    <p>第十四条、协议的终止及解除</p>
    <p>（一）本协议期满自动顺延。</p>
    <p>（二）乙方有下列情况之一的，甲方可随时单方解除协议；</p>
    <p class="sub">1.违反国家法律法规；</p>
    <p class="sub">2.违背社会公德，损害甲方信誉和形象；</p>
    <p class="sub">3.挪用或侵占保险费；</p>
    <p class="sub">4.串通投保人、被保险人或保险受益人欺骗甲方或保险人；</p>
    <p class="sub">5.使用不正当手段强迫、引诱或者限制投保人、被保险人投保或转换保险人；</p>
    <p class="sub">6.擅自变更保险条款，提高和降低保险费率；</p>
    <p class="sub">7.泄露客户信息及甲方商业秘密；</p>
    <p class="sub">8.遗失重要保险单证，造成甲方重大损失；</p>
    <p class="sub">9.为甲方以外的保险公司及中介机构代理保险业务；</p>
    <p class="sub">10.销售非甲方代理的保险产品，销售非保险金融产品；</p>
    <p class="sub">11.违反本协议约定中乙方的任何一项义务，包括但不限于乙方不遵守甲方的《经纪人基本管理办法》和《经纪人业务品质管理规定》等规章制度规定。</p>
    <p>（三）有以下情形之一的，本协议终止；</p>
    <p class="sub">1.本协议期满，且任何一方根据第十五（一）条通知另一方不再延续本协议；[为何删除本条]</p>
    <p class="sub">2.除本协议另有约定外，任何一方违反本协议，且在另一方通知后的【15日内】未能予以纠正的，则非违约方有权通知违约方立即终止本协议；</p>
    <p class="sub">3.本协议约定的其他终止情形；</p>
    <p class="sub">4.法律规定的其他应当终止的情形。</p>
    <p>（四）本协议终止或解除时，乙方须将甲方核发的《保险经纪从业人员执业证书》、合作销售期间有关的单证材料、客户资料、乙方和保证人留存的本协议原件和借用甲方的物品交还甲方，并办理有关手续。</p>
    <p>（五）本协议终止或解除后，乙方不得再以甲方的名义从事保险销售活动。</p>
    <p>第十五条、违约责任</p>
    <p>（一）甲方无正当理由，未按本协议约定向乙方支付服务报酬的，除应如数支付服务报酬外，每拖延壹日，要向乙方支付应支付手续费金额0.05%的违约金。</p>
    <p>（二）甲方不履行协议义务或违反协议约定，乙方有权提出解除本协议，给乙方造成损失的，乙方有权要求赔偿损失。</p>
    <p>（三）乙方违反国家法律法规或违反本协议约定造成甲方损失的，须按照损失金额支付赔偿金。</p>
    <p>（四）若乙方根据本协议约定需要向甲方支付任何赔偿、补偿、违约金、索赔或其他任何费用的，甲方有权从乙方向甲方支付的押金（若有）或甲方应向乙方支付的任何报酬/酬金/奖金中直接扣除。</p>
    <p>第十六条、争议处理</p>
    <p>因本协议引起的或与本协议有关的任何争议，由甲方所在地人民法院诉讼解决。</p>
    <p>第十七条、附则</p>
    <p>本协议一式二份，甲乙双方各持一份，具有同等法律效力。《保险经纪从业人员职业道德指引》、甲方《经纪人基本管理办法》、《经纪人业务品质管理办法》等相关管理制定构成本协议的有效附件。</p>
    <p>如本人确认已阅读并理解以上内容，请在以下签字框签字。</p>
</div>
<!--经纪人服务协议_end-->

<div class="sign-img">
    <img src="" alt="" hidden>
    <p>请在此签署姓名</p>
</div>
 <p class="time">签字日期:<span></span></p>
<button type="button" class="sign-btn-save">保存</button>


<!--签字-->
<div class="sign-popup" id="content" style="display: none">
    <div id="signatureparent">
        <div id="signature"></div></div>
    <div id="tools"></div>
</div>