<div>
    <div class="head clearfix">
        <div class="left">
            <div class="portrait">
                <i class="iconfont icon-xingbienan "></i>
            </div>
            <div class="rank">
                <p></p>
                <p></p>
                <p>推荐人：<span></span></p>
            </div>
        </div>
        <div class="right">
            <!--<div class="right-content">-->
            <i class="iconfont icon-character-success"></i>
            <span>业务主任</span>
            <span>核定</span>
            <!--</div>-->
        </div>
    </div>
    <div class="content">
        <div class="content-details clearfix">
            <div class="content-details-left fl">
                <p class="we-chat"><i class="iconfont icon-wechat"></i><span></span></p>
                <p class="phone"><i class="iconfont icon-tengxunqq"></i><span></span></p>
                <div class="work"><i class="iconfont icon-work"></i><span></span></div>
                <!-- <p class="email-message"><i class="iconfont icon-youjian2"></i><span></span></p> -->
            </div>
            <div class="content-details-right fr">
                <i class="iconfont icon-profile"></i>
            </div>
            
        </div>
        <div class="content-work"><p>同业经历：</p><span></span></div>
        <div class="arrow">
            <i class="iconfont icon-jiantouarrow483 ">

            </i>
        </div>
        <div class="bottom-content">
            <div class="details">
                <ul>
                    <li class="clearfix">
                        <div class="time fl">
                            <span>08:00</span><br><em></em>
                        </div>
                        <div class="left-fathter fl">
                            <div class="left bor_1FD09B">
                                <i class="iconfont icon-jihuashucur col_1FD09B"></i>
                            </div>
                        </div>
                        <div class="right fl col_1FD09B">
                            <p class="clearfix"><span>初审</span><span></span><span class="fr pass"></span></p>
                            <p class="over-flow"><span></span><i class="iconfont icon-jiantouarrow483 fr tab-slide"></i></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="time fl">
                            <span>08:00</span><br><em></em>
                        </div>
                        <div class="left-fathter fl">
                            <div class="left bor_1FD09B">
                                <i class="iconfont icon-fangdajingmagnifier28 col_1FD09B"></i>
                            </div>
                        </div>
                        <div class="right fl col_1FD09B">
                            <p class="clearfix"><span>复审</span><span></span><span class="fr pass"></span></p>
                            <p class="over-flow">
                                <span></span>
                                <i class="iconfont icon-jiantouarrow483 fr tab-slide"></i></p>
                        </div>
                    </li>
                    <li  class="clearfix">
                        <div class="time fl">
                            <span>08:00</span><br><em></em>
                        </div>
                        <div class="left-fathter fl">
                            <div class="left bor_1FD09B">
                                <i class="iconfont icon-sousuo col_1FD09B"></i>
                            </div>
                        </div>
                        <div class="right fl col_1FD09B">
                            <p class="clearfix"><span>培训</span><span></span><span class="fr pass"></span></p>
                            <p class="over-flow">
                                <span></span>
                                <i class="iconfont icon-jiantouarrow483 fr tab-slide"></i>
                            </p>
                        </div>
                    </li>
                    <li  class="clearfix">
                        <div class="time fl">
                            <span>08:00</span><br><em></em>
                        </div>
                        <div class="left-fathter fl">
                            <div class="left bor_1FD09B">
                                <i class="iconfont icon-shiyongyinzhang col_4A90E2"></i>
                            </div>
                        </div>
                        <div class="right fl col_1FD09B">
                            <p class="clearfix"><span>签约审批</span><span></span><span class="fr"></span></p>
                            <p class="over-flow">
                                <span></span>
                                <i class="iconfont icon-jiantouarrow483 fr tab-slide"></i></p>
                        </div>
                    </li>
                    <li  class="clearfix">
                        <div class="time fl">
                            <span>08:00</span><br><em></em>
                        </div>
                        <div class="left-fathter fl">
                            <div class="left bor_1FD09B">
                                <i class="iconfont icon-7 col_1FD09B"></i>
                            </div>
                        </div>
                        <div class="right fl col_1FD09B">
                            <p class="clearfix"><span>签约</span><span></span><span class="fr pass"></span></p>
                            <p class="over-flow"><span></span><i class="iconfont icon-jiantouarrow483 fr"></i></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="time fl">
                            <span>08:00</span><br><em></em>
                        </div>
                        <div class="left-fathter fl">
                            <div class="left bor_1FD09B">
                                <i class="iconfont icon-shenhedaiban"></i>
                            </div>
                        </div>
                        <div class="right fl col_1FD09B">
                            <p class="clearfix"><span>资料审核</span><span></span><span class="fr pass"></span></p>
                            <p class="over-flow"><span></span><i class="iconfont icon-jiantouarrow483 fr"></i></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        签约邀请
    </div>
</div>